.ui.container.chatRoomComments#announcementBoard
    .ui.comments#announcementDialog
        for ancm in announcements
            include announcement.pug
    .ui#inputBox
        .ui.input.chatInput
            input#announcementInputContent(type="text" placeholder="Message..." onkeydown="oneKeyPress(event)")
        #sendAnnouncementBtn.ui.submit.button(onclick="sendAnnouncement()") Send
