.ui.container.chatRoomComments#announcementBoard
    include announcementList.pug
    .ui#inputBox
        .ui.input.chatInput
            input#announcementInputContent(type="text" placeholder="Message..." onkeydown="oneKeyPress(event)")
        #sendAnnouncementBtn.ui.submit.button(onclick="sendAnnouncement()") Send
