div.ui.container#announcementContainer
    .ui.message#announcementBox
        .ui.comments
            .comment
                .content
                    a.author.name#announcementSender Joseph
                    .metadata
                        .time#announcementTime 22:31
                    .text#announcementContent Socket.io enables real-time communication between the client and server, making it possible to build applications with real-time updates and notifications. Socket.io is designed to work with a variety of browsers and platforms, making it a versatile choice for building cross-browser compatible applications.
        i.close.icon(onclick = "hideAnnouncement()")