div.ui.container#announcementDialogContainer
    .ui.message
        .ui.comments
            .comment
                .content
                    a.author.name#announcementSender #{ancm.sender} 
                    .metadata
                        .time#announcementTime #{ancm.time}
                    .text#announcementContent #{ancm.content}
