.ui.container#chat
    #privateDialog.ui.comments
    #privateInputBox.ui
        #privateInputText.ui.input
            input#privateInputContent(type="text" placeholder="Message..." onkeydown="oneKeyPress2(event)")
        #privateSendBtn.ui.submit.button(onclick="privateSend()") Send
        