//- change to localstorage
.ui.container.chatRoomComments#chat
    include messageList.pug
    #inputBox.ui
        #inputText.ui.input.chatInput
            input#inputContent(type="text" placeholder="Message..." onkeydown="oneKeyPress(event)")
        #sendBtn.ui.submit.button(onclick="sendMessage()") Send
