.ui.container
    .ui.comments.chatRoomComments#privateDialog
    .ui#inputBox
        .ui.input.chatInput#privateInputText
            input#privateInputContent(type="text" placeholder="Message..." )
        #privateSendBtn.ui.submit.button(onclick="sendMessage(false)") Send

