.main-page-content
    .ui.container
        .ui.relaxed.divided.items 
            .item 
                .content 
                    a.header 
                        .ui.circular.avatar.image 
                            img(src="/icons/cloud-off.svg")
                        span.main-page-name Lisa
                    .meta
                        .online online 
                    .description Lisa's last message
            .item 
                .content 
                    a.header 
                        .ui.circular.avatar.image 
                            img(src="/icons/cloud-off.svg")
                        span.main-page-name Lisa
                    .meta
                        .online online 
                    .description Lisa's last message
            .item 
                .content 
                    a.header 
                        .ui.circular.avatar.image 
                            img(src="/icons/cloud-off.svg")
                        span.main-page-name Lisa
                    .meta
                        .online online 
                    .description Lisa's last message
            .item 
                .content 
                    a.header 
                        .ui.circular.avatar.image 
                            img(src="/icons/cloud-off.svg")
                        span.main-page-name Lisa
                    .meta online 
                    .description Lisa's last message
            .item 
                .content 
                    a.header 
                        .ui.circular.avatar.image 
                            img(src="/icons/cloud-off.svg")
                        span.main-page-name Lisa
                    .meta online 
                    .description Lisa's last message
