.content
    .ui.container
        .ui.relaxed.divided.items 
            .item 
                .ui.mini.image 
                    img(src="/icons/cloud-off.svg")
                .content 
                    a.header Lisa 
                    .meta 
                        .online online 
                    .description Lisa's last message
            .item 
                .ui.mini.image 
                    img(src="/icons/cloud-off.svg")
                .content 
                    a.header Lisa 
                    .meta
                        .online online 
                    .description Lisa's last message
            .item 
                .ui.mini.image 
                    img(src="/icons/cloud-off.svg")
                .content 
                    a.header Lisa 
                    .meta offline 
                    .description Lisa's last message
            .item 
                .ui.mini.image 
                    img(src="/icons/cloud-off.svg")
                .content 
                    a.header Lisa 
                    .meta offline 
                    .description Lisa's last message
            .item 
                .ui.mini.image 
                    img(src="/icons/cloud-off.svg")
                .content 
                    a.header Lisa 
                    .meta offline 
                    .description Lisa's last message