.ui.container
    .ui.relaxed.divided.items 
        for user in users
            .item(class="active" onclick=`displayPrivateMessage('${user.username}')`) 
                .content 
                    a.header 
                        .ui.circular.avatar.image 
                            img(src="/icons/cloud-off.svg")
                        span.main-page-name #{user.username}
                        
                        i(class=`${user.statusStyle}` id=`directoryStatus-${user.username}`)
                    if user.online
                        .meta
                            .online online
                    else
                        .meta offline
