.ui.container
    .ui.relaxed.divided.items
        .item(class="active" onclick="displayBlogboard()") 
            i.user.circle.outline.icon
            .ui.middle.aligned.content 
                a.header Snowstorm Blog Board
        .item(class="active" onclick="location.href='/map'")
            i.user.circle.outline.icon
            .ui.middle.aligned.content 
                a.header Emergency Map
        .item(class="active" onclick="displaySupply()") 
            i.user.circle.outline.icon
            .ui.middle.aligned.content 
                a.header Supply
        .item(class="active" onclick="displayRole()")
            i.user.circle.outline.icon
            .ui.middle.aligned.content 
                a.header Role
        .item(class="active" onclick="initialPowerPage()")
            i.user.circle.outline.icon
            .ui.middle.aligned.content 
                a.header Power