.ui.container
    .ui.relaxed.divided.items
        .item(class="active" onclick="displayStatus()") 
            i.user.circle.outline.icon
            .ui.middle.aligned.content 
                a.header Your feature
        .item(class="active" onclick="location.href='/map'") 
            i.user.circle.outline.icon
            .ui.middle.aligned.content 
                a.header Emergency Map
