.container
    .ui.icon.input
        input(type='text', placeholder='Search Contacts...', id='emergencyNameSerach')
        i.search.icon
    .ui.relaxed.divided.list 
        .item
            i.large.close.icon
            .content
                a.header User1
                .description 
        .item
            i.large.close.icon
            .content
                a.header User2
                .description 
        .item
            i.large.close.icon
            .content
                a.header User3
                .description 
