.container.emergencyContactFrame
    h1.ecTitle Emergency Contacts
    .ui.search#emergencyContactSearch
      .ui.icon.input.ecInput
          input.prompt(type='text', placeholder='Add Contacts...', id='emergencyNameSerach')
          i.search.icon
      .results
    button.btn-confirm(onclick='') ADD CONTACT
    .ui.relaxed.divided.list 
        .item
            i.large.close.icon
            .content
                a.header User1
                .description 
        .item
            i.large.close.icon
            .content
                a.header User2
                .description 
        .item
            i.large.close.icon
            .content
                a.header User3
                .description 
