doctype 
html 
html
    head
        title Error Page 
        link(rel="stylesheet",type="text/css" href="/css/style.css")
    body
        h1 Oops! Error occurs
        br
        h3 #{error.status} #{error.name}
        h4 #{error.message}
        p #{error.stack}