div.main-footer
    div.ui.four.item.menu#menu
        a.item.menuItem(class = (pageView == "Directory" ? "active" : "") id = "directoryMenu" onclick="displayDirectory()")
            i.address.book.outline.icon
            br
            p Directory
        a.item.menuItem(class = (pageView == "Public" ? "active" : "") id = "publicMenu" onclick="displayPublic()")
            i.wechat.icon
            p Public
        a.item.menuItem(class = (pageView == "Announcement" ? "active" : "") id = "announcementMenu" onclick="displayAnnouncement()")
            i.clipboard.icon
            br
            p Announce
        a.item.menuItem(class = (pageView == "Status" ? "active" : "") id = "statusMenu" onclick="displayStatus()")
            i.user.circle.outline.icon
            p Status
