div.main-footer
    div.ui.four.item.menu
        a.item.active
            i.address.book.outline.icon
            br
            p Directory
        a.item
            i.wechat.icon
            p Public
        a.item
            i.search.icon
            br
            p Search
        a.item
            i.user.circle.outline.icon
            p Status
