div.main-footer
    div.ui.four.item.menu
        a.item(class = (pageView == "Directory" ? "active" : ""))
            i.address.book.outline.icon
            br
            p Directory
        a.item(class = (pageView == "Public" ? "active" : ""))
            i.wechat.icon
            p Public
        a.item(class = (pageView == "Search" ? "active" : ""))
            i.search.icon
            br
            p Search
        a.item(class = (pageView == "Status" ? "active" : ""))
            i.user.circle.outline.icon
            p Status
