div.ui.borderless.fixed.menu#main-header
    div.ui.container
        a.item(onclick="mainPageBack()") 
            i.chevron.left.icon#main-page-back
        h1.ui.center.aligned.header#title #{pageView}
        .right.item 
            a.item#speedTest(onclick="speedTestModalDisplayAndHideOther('clickSpeedTest')") 
                div.ui.icon#speedPopup(data-content="Speed Test")
                    i.bolt.icon  
            a.right.item#logout(href="/logout") logout
