div.ui.fixed.menu
    div.ui.container.main-header
        div.ui.grid
            div.four.wide.column
                button.ui.floated.button.small.basic#back-btn(onclick="location.href='/join'")
                    i.chevron.left.icon#main-page-back 
            div.eight.wide.column
                h1.ui.center.aligned.header#title Directory 
            div.four.wide.column
                button.ui.right.floated.button.small.basic(onclick="location.href='/join'") Logout
