div.ui.borderless.fixed.menu#main-header
    div.ui.container
        a.item(href="")
            i.chevron.left.icon#main-page-back 
        h1.ui.center.aligned.header#title Directory 
        a.right.item#logout logout
