div.ui.borderless.fixed.menu#main-header
    div.ui.container
        a.item(onclick="window.history.back()")
            i.chevron.left.icon#main-page-back 
        h1.ui.center.aligned.header#title #{pageView} 
        a.right.item#logout(href="/logout") logout
