doctype html
html
    head
        title Join Community
        link(rel='stylesheet' href='/css/style.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        div(class='container')
            h1(class='h1') Join Community
            form(id='registration-form' action='/new_user_create' method='post')
                input(class='field' type='text' name='username' id='username' placeholder='username' required)
                input(class='field' type='password' name='password' id='password' placeholder='password' required)
                div(class='error-message' id='error-message') 
                button(class='btn-next' type='submit') NEXT

        script(src='/javascript/join_community.js')
