doctype html
html
    head
        title ESNetwork - Join Community
        link(rel='stylesheet' href='/css/style.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        include lib/semantic.pug
        include lib/axios.pug
        script(src='/javascript/join.js')
    body
        div.container
            if joinComfirm
                div.ui.basic.modal
                    div.content
                        p A new user will be created
                    div.actions
                        div.ui.red.basic.cancel.inverted.button
                            i.remove.icon No
                        div.ui.green.ok.inverted.button
                            i.checkmark.icon(onclick="confirmClicked()") Yes
            h1.h1 Join Community
            form#registration-form(action='/join' method='post')
                input.field#username(type='text' name='username'  placeholder='username' required value=username)
                input.field#password(type='password' name='password'  placeholder='password' required value=password)
                if joinErr
                    each err in joinErr
                        div.error-message#error-message-2 • #{err}
                button.btn-next(onclick="nextBtnClicked()") NEXT
