doctype html
html
    head 
        title ESNetwork - Directory Page
        link(rel='stylesheet' href='/css/mainPageStyle.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        include lib/semantic.pug
        include lib/axios.pug
        script(src='/javascript/join.js')
    body
        //header region
        include header.pug
        // page content
        .content
            .ui.container
                .ui.relaxed.divided.items 
                    .item 
                        .ui.small.image 
                            img(src="/icons/cloud-off.svg")
                        .content 
                            a.header Lisa 
                            .meta online 
                            .description Lisa's last message
                    .item 
                        .ui.small.image 
                            img(src="/icons/cloud-off.svg")
                        .content 
                            a.header Lisa 
                            .meta
                                .online online 
                            .description Lisa's last message
                    .item 
                        .ui.small.image 
                            img(src="/icons/cloud-off.svg")
                        .content 
                            a.header Lisa 
                            .meta offline 
                            .description Lisa's last message
        //
        include footer.pug