doctype html
html
    head 
        title ESNetwork - Main Page
        link(rel='stylesheet' href='/css/mainPageStyle.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        include lib/semantic.pug
        include lib/axios.pug
        script(src='/javascript/join.js')
    body
        //header region
        include header.pug
        // page content
        .content
            div.ui.container
                .ui.segments
                        .ui.segment content
                        .ui.segment content
                        .ui.segment content
                        .ui.segment content
                        .ui.segment content
                        .ui.segment content
                        .ui.segment content
                        .ui.segment content
                        .ui.segment content
                        .ui.segment content
                        .ui.segment content
        //
        include footer.pug