doctype html
html
    head 
        title ESNetwork - Directory Page
        meta(name='viewport' content='width=device-width, initial-scale=1')
        include lib/semantic.pug
        link(rel='stylesheet' href='/css/mainPageStyle.css')
        include lib/axios.pug
        script(src='/javascript/join.js')
    body
        // header
        include header.pug
        // page content
        include directory.pug 
        // footer
        include footer.pug