.comment.sendMsg 
    a.avatar
        img(src="https://semantic-ui.com/images/avatar/small/matt.jpg")
        .content.msg-top 
            a.author.name #{sender}
            .metadata
                i(class=statusStyle)
                .time #{time}
            .text #{message}

            