script(src='/javascript/utils/dateUtil.js')
.comment.sendMsg 
    a.avatar
        img(src='/image/photo.jpeg')
        .content.msg-top 
            a.author.name #{sender}
            .metadata
                // the class of element i is a variable called statusStyle
                i(class=`${statusStyle}`)
                .time #{time}
            .text #{message}
