doctype html
html
    head
        title New User Create
        link(rel='stylesheet' href='/css/style.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        div(class='container')
            h1(class='h1') New User Create
            p(class='p') New user #{username} will be created!
            div(class='btn-container')
                button(class='btn-back' type='submit') BACK
                button(class='btn-confirm' type='submit') CONFIRM