.container.searchFrame
  .container.search
    select.searchDropdown(id='searchDropdown')
      option.searchInfo.default(selected)
      option.searchInfo(value='username' data-page='directoryContent') Username
      option.searchInfo(value='status' data-page='directoryContent') Status
      option.searchInfo(value='announcement' data-page='announcementContent') Announcement
      option.searchInfo(value='publicMessage' data-page='publicChatContent') Public Message
      option.searchInfo(value='privateMessage' data-page='privateChatContent') Private Message
    input.searchInput#inputSearchInfo(type='text' placeholder='Enter search keyword')
  button.btn-confirm(onclick='searchKeywords()') Search

  .ui.borderless.secondary.menu
    .ui.container#pageButton
      a.item#leftPageButton(onclick="")
        .ui.icon
          i.angle.left.icon
      a.item#rightPageButton(onclick="") 
        .ui.icon
          i.angle.right.icon 
  .container.searchResults