.container.searchFrame
  .container.search
    select.searchDropdown(name="dropdown" id="dropdown" class='searchCriteria')
      option.searchInfo(value='directoryContent') Username
      option.searchInfo(value='directoryContent' ) Status
      option.searchInfo(value='announcementContent' ) Announcement
      option.searchInfo(value='publicChatContent' ) Public Message
      option.searchInfo(value='privateChatContent' ) Private Message
    input.searchInput#inputSearchInfo(type='text' placeholder='Enter search keyword' )
  button.btn-confirm(onclick='searchKeywords()') Search
  .container.searchResults
    h2.searchTitle Search Results
      
      