.ui.modal#speedTestModal
    .header ESN Speed Test
    .content 
        .ui.form#speedTestForm 
            .two.fields 
                .field
                    label Duration(s): 
                    input#durationInput(type="text",placeholder="Duration")  
                .field
                    label Interval(ms): 
                    input#intervalInput(type="text",placeholder="Interval")
        .ui.form#speedTestReport(hidden)
            .two.field
                .field 
                    label Post Performance:
                    label#PostResult
                .field 
                    label Get Performance:
                    label#GetResult
        #speedTestLoading(hidden)
            .ui.indicating.progress#progress(data-percent=0)
                .bar
                .label Testing
        #speedTestStopping(hidden) stopping
        #speedTestStopResult(hidden)
    .actions#speedTestActions
        .ui.cancel.button Cancel
        .ui.green.button(onclick="startSpeedTest()") Start
    .actions#speedTestStopActions(hidden)
        .ui.red.button(onclick="stopSpeedTest()") Stop
