.container.statusFrame
    .container.currentStatus
        h2.statusTitle Your current status is
        h2.currentStatus#userStatus #{status}
    h3.statusDisplay Change your status:
    .container.statusChoice
        input(type="radio", name='status', value='OK', id='ok')
        label.status(for='ok') OK
            img.statusImg(src='/icons/okIcon.png')
            p.statusDescription I am OK: I do not need help.
            br
        input(type="radio", name='status', value='Help', id='help')
        label.status(for='help') HELP
            img.statusImg(src='/icons/helpIcon.png')
            p.statusDescription I need help, but this is not a life threatening emergency.
            br
        input(type="radio", name='status', value='Emergency', id='emergency')
        label.status(for='emergency') EMERGENCY
            img.statusImg(src='/icons/emergencyIcon.png')
            p.statusDescription I need help now: this is a life threatening emergency!
    button.btn-confirm(onclick='changeStatus()') UPDATE
