.container.statusFrame
    .container.currentStatus
        h2.statusTitle Your current status is
        h2.currentStatus#userStatus #{status}
    h3.statusDisplay Change your status:
    .container.statusChoice
        input(type="radio", name='status', value='ok', id='ok')
        label.status(for='ok') OK
            img.statusImg(src='/icons/okIcon.png')
            p.statusDescription I am OK: I do not need help.
            br
        input(type="radio", name='status', value='help', id='help')
        label.status(for='help') HELP
            img.statusImg(src='/icons/helpIcon.png')
            p.statusDescription I need help, but this is not a life threatening emergency.
            br
        input(type="radio", name='status', value='emergency', id='emergency')
        label.status(for='emergency') EMERGENCY
            img.statusImg(src='/icons/emergencyIcon.png')
            p.statusDescription I need help now: this is a life threatening emergency!
            .ui.checkbox 
                input#emergencyCheck(type='checkbox', name='emergencyCheck')
                label Notify My Emergency Contacts
    .notifyEmergencyContacts 
        h3 You're about to notify your emergency contacts below
        p#emergencyContactMessage
        .container.eReasonChoice
          input(type="checkbox", name='eReason', value='food')
          label.status(for='food') Food.
              p.statusDescription I am hungry. I need some food
              br
          input(type="checkbox", name='eReason', value='shelter')
          label.status(for='shelter') Shelter.
              p.statusDescription I do not have a place to live. I need shelter.
              br
          input(type="checkbox", name='eReason', value='medicine', id='medicine')
          label.status(for='medicine') Medicine.
              p.statusDescription I am not felling well. I need some medicine
              br
        .ui.grid
          .eight.wide.column
            button.btn-confirm(onclick="resetStatusPage()") CANCEL
          .eight.wide.column
            button.btn-confirm(onclick="createEmergencyGroupChat()") NEXT
    button.btn-confirm#changeStatusButton(onclick='changeStatus()') UPDATE
    include emergencyContact.pug
