.ui.container#addSupplyButton
    //- .ui.large.buttons#addSupplyButton
    .ui.compact.large.button(data-content="supply list" onclick="displaySupply()") Supply List
    .ui.circular.icon.large.button(data-content="Add Supply" onclick="displaySupplyForm()")
        i.plus.icon
    .ui.compact.large.button(data-content="exchange list" onclick="displayExchange()") Request List
