doctype html
html
  head
    link(rel='stylesheet' type='text/css' href='/css/style.css')
    meta(name='viewport' conten='width=device-width, initial-scale=1')

  body.welcome-body 
    div.hello
      h1 ESNetwork 
      a(href='join_community')
        button.btn-join(type='submit') Join Community
