doctype html
html
  head
    title ESNetwork
    link(rel='stylesheet' type='text/css' href='/css/style.css')
    meta(name='viewport' conten='width=device-width, initial-scale=1')

  body.welcome-body 
    div.hello
      h1 ESNetwork 
      button.btn-join(onclick="location.href='/join'") Join Community
     