doctype html
html
    head
        title Welcome &amp; Rules
        link(rel='stylesheet' href='/css/style.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        div(class='container')
            h1(class='h1') Welcome &amp; Rules
            p(class='p') Some welcome message &amp; usage guide
            div(class='btn-container')
                a(href='new_user_create')
                    button(class='btn-back' type='submit') BACK
                //a(href='welcome_rules')
                button(class='btn-confirm' type='submit') I UNDERSTAND