.main-page-content {
    padding-top: 6.5em;
    padding-bottom: 4em;
    height: 100%;
}

#main-header {
    background-color: rgb(184,62,41);
}

.ui.item.menu .item{
    background-color: rgb(184,62,41);
    color:whitesmoke;
}

.ui.item.menu .item.active{
    background-color: rgb(154, 53, 35);
    color:beige;
}


.ui.item.menu .item:hover{
    background-color: rgb(213, 83, 60);
    color:whitesmoke;
}

.ui.item.menu .item.active:hover{
    background-color: rgb(213, 83, 60);
    color:beige;
}

#back-btn {
    box-shadow: none;
    color: whitesmoke;
}

#main-page-back {
    color: ghostwhite;
    line-height: 1.7em;
    display: none;
}

#title {
    color:whitesmoke;
    padding-left: 1em;
    min-width: 6em;
}

.main-page-name {
    margin-left: 0.5em;
}

#logout {
    color:beige;
}

#speedTest {
    color:beige;
}

.main-footer {
    position: fixed;
    bottom: 0em;
    width: 100%;
}

#announcementContainer {
    position:fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    overflow: hidden;
    display: none;
}

#announcementBox {
    width: 100%;
}

#announcementDialogContainer {
    padding-bottom: 1em;
}

#addSupplyButton {
    position: fixed;
    bottom: 8%;
    /* at the middle */
    /* transform: translateX(-50%); */
    /* left: 40%; */
}

.exchangeTitle {
    font-weight: bold;
    font-size: 18px;
}

.exchangeAccepted{
    color: green;
}

.exchangeRejected{
    color: red;
}

.exchangeCancelled{
    color: grey;
}
