.main-page-content {
    padding-top: 6.5em;
    padding-bottom: 4em;
}

#main-header {
    background-color: rgb(184,62,41);
}

.ui.item.menu .item{
    background-color: rgb(184,62,41);
    color:whitesmoke;
}

.ui.item.menu .item.active{
    background-color: rgb(154, 53, 35);
    color:beige;
}


.ui.item.menu .item:hover{
    background-color: rgb(213, 83, 60);
    color:whitesmoke;
}

.ui.item.menu .item.active:hover{
    background-color: rgb(213, 83, 60);
    color:beige;
}

#back-btn {
    box-shadow: none;
    color: whitesmoke;
}

#main-page-back {
    color: ghostwhite;
    line-height: 1.7em;
}

#title {
    color:whitesmoke;
    padding-left: 1em;
    min-width: 6em;
}

.main-page-name {
    margin-left: 0.5em;
}

#logout {
    color:beige;
}

.main-footer {
    position: fixed;
    bottom: 0em;
    width: 100%;
}
