.content {
    /* flex: 1; */
    padding-top: 6.5em;
    padding-bottom: 4em;
}

.main-header {
    /* position: fixed; */
    background-color: rgb(184,62,41);
    padding-top: 2em;
    padding-bottom: 1em;
    /* width: 100%; */
    /* z-index: 100; */
}

#back-btn {
    box-shadow: none;
    color: whitesmoke;
}

#main-page-back {
    color: ghostwhite;
}

#title {
    color:whitesmoke;
}

.main-footer {
    position: fixed;
    bottom: 0em;
    width: 100%;
}