.searchFrame {
    max-width: 800px;
    padding: 16px;
    background-color: white;
    margin: auto auto;
  }
  
.container.search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

.searchDropdown {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.searchInfo{
  font-size: 10px;
}

.searchInput[type="text"] {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}
  
.searchResults {
    margin-top: 20px;
}

#searchButton{
  color: white;
}
