* {
    box-sizing: border-box;
}
:root {
    --backgroud-color-a: rgb(184,62,41);
    --btn-color-a: #fff;
    --btn-color-b: #000;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    position: relative;
}

.container {
    max-width: 390px;
    padding: 16px;
    background-color: white;
    margin: auto auto;
}

.h1 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #000000;
}

.p {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;

    text-align: left;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #000000;
}

.registration-form {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
}

.field {
    margin-bottom: 20px;
    width: 100%;
    padding: 15px;
    border: 2px solid black;
    font-weight: bold;
    background: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.btn-next {
    width: 100%;
    padding: 15px;
    background-color: black;
    color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}


.btn-back {
    width: 100%;
    padding: 15px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.btn-confirm {
    width: 100%;
    padding: 15px;
    background-color: black;
    color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

.error-message {
    display: "none";
    color: #CA0202;
}

.invalid {
    border: 2px solid #CA0202;
}
.hello {
    height: 100vh;
 
    align-items: center;
    justify-content: center;
    background-color: var(--backgroud-color-a);

    display: flex;
    flex-direction: column;


    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;
  }

  .btn-join {
    width: 800px;
    height: 100px;
    

    background-color: var(--btn-color-a);

    border: 2px solid var(--btn-color-b);
    border-radius: 6px;
    margin-top: 60px;
    padding: 10px 20px;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;


}
.title-welcome {
    width: 265px;
    height: 54px;
    left: 55px;
    top: 322px;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
}


.welcome-body {
    background: var(--backgroud-color-a);
    margin: 20px;
  }