//- see usage example here https://axios-http.com/docs/example
script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js")
include cookie.pug
script.
    var axios=axios.create({
        baseURL:'/',
        timeout: 30000,
        headers:{'Authorization':Cookies.get('user_token')}
    })
