//- see usage example here https://axios-http.com/docs/example
script(src="https://unpkg.com/axios/dist/axios.min.js")
include cookie.pug
script.
    var axios=axios.create({
        baseURL:'/',
        timeout: 1000,
        headers:{'Authorization':Cookies.get('user_token')}
    })
